    <!-- About Section -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class='text-center video-wrapper'>
                    <video controls="" style="width: 100%;" poster="img/video-thumb.png">
                      <source src="img/selfcontrol_intro.mp4" type="video/mp4"></source>
                      Your browser does not support the video tag.
                    </video>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <h2 class="section-heading">As featured on <a href="{{ site.lifehacker_link }}" class='link' target="_blank">Lifehacker.com</a></h2>
                    <div class="lead"><i>"...an app inspired by the original has landed on the iPhone, offering a similar no-nonsense approach to keeping you focused on what’s important. "</i></div>
                    <div class="lead"><i>"The app is a little drastic, but depending on how hard a time you have focusing, or if you have a bad habit of being glued to your phone when you should be doing other things, this might help give you the push you need to break that habit."</i></div>
                    <a href="{{ site.lifehacker_link }}" target='_blank'>
                      <img src="img/lifehacker.png" width="150px" alt="Lifehacker.com logo">
                    </a>
                    <div class='bottom-20'></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                   <h2 class="section-heading">How to block websites on iPhone?</h2>
                   <div class="lead">This iOS app allows you to block sites on Safari browser. You just need to provide a list of distracting websites for it to block. You can set a timer to disable unblocking before the time is up.</div>
                   <h2 class="section-heading">Self Control App</h2>
                   <div class="lead">iOS App inspired by a well known <a class='link' href='https://selfcontrolapp.com' target='_blank'>SelfControl</a>. It aims to provide a similar functionality on iOS. It allows you to block distracting websites on your iPhone. Have you ever wasted your time on the Internet? Having trouble getting stuff done because of procrastination? Do you need more self control? This might be the app for you.</div>
                   <h2 class="section-heading">Privacy policy</h2>
                   <div class="lead">The app does not collect any personal data.</div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <h2 class="section-heading">Simple website blocker app - testimonials</h2>
                    <div class="lead"><i>"Thank you, 2018 is another year filled with bad news that I can’t look away from. This app stops me from refreshing it obsessively so I can get back to living my life."</i></div>
                    <div class="lead"><i>"It's a great way to save time, and stop browsing Reddit when you should be doing coursework."</i></div>
                    <div class="lead"><i>"Nice! Have been seeking for something like this for a long time!"</i></div>
                    <div class="lead"><i>"If you have a bad habit of being glued to your phone when you should be doing other things, this might help and give you the push you need to break that habit."</i></div>
                    <div class="lead"><i>"The app works great, and does exactly what it says, with no fuss."</i></div>
                    <div class="lead"><i>"I need an app like this on my fridge."</i></div>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-sm-12 text-center">
                <a href="{{ site.appstore_link }}">
                  <img class='image' src="img/app_store_button.svg" width="200" alt="Download Self Control on the iOS App Store">
                </a>
              </div>
            </div>
        </div>
    </div>
