    <!-- About Section -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="lead">iOS App inspired by a well known <a class='link' href='https://selfcontrolapp.com' target='_blank'>SelfControl</a>. It aims to provide a similar functionality on iOS. It allows you to block distracting websites on your iPhone. Have you ever wasted your time on the Internet? Having trouble getting stuff done because of procrastination? Do you need more self control? This might be the app for you.</div>
                    <h2 class="section-heading">As featured on <a href="{{ site.lifehacker_link }}" class='link' target="_blank">Lifehacker.com</a></h2>
                    <div class="lead"><i>"...an app inspired by the original has landed on the iPhone, offering a similar no-nonsense approach to keeping you focused on what’s important. "</i></div>
                    <div class="lead"><i>"The app is a little drastic, but depending on how hard a time you have focusing, or if you have a bad habit of being glued to your phone when you should be doing other things, this might help give you the push you need to break that habit."</i></div>
                    <a href="{{ site.lifehacker_link }}" target='_blank'>
                      <img src="img/lifehacker.png" width="150px">
                    </a>
                    <div class='bottom-20'></div>
                    <h2 class="section-heading">User testimonials</h2>
                    <div class="lead"><i>"It's a great way to save time, and stop browsing Reddit when you should be doing coursework."</i></div>
                    <div class="lead"><i>"Nice! Have been seeking for something like this for a long time!"</i></div>
                    <div class="lead"><i>"If you have a bad habit of being glued to your phone when you should be doing other things, this might help and give you the push you need to break that habit."</i></div>
                    <div class="lead"><i>"The app works great, and does exactly what it says, with no fuss."</i></div>
                    <div class="lead"><i>"I need an app like this on my fridge."</i></div>

                </div>
                <div class="col-lg-4 col-lg-offset-2 col-sm-6">
                  <script src="https://fast.wistia.com/embed/medias/gbufl5b3cs.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:177.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_gbufl5b3cs popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>


                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
