    <!-- About Section -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">As featured on Lifehacker.com</h2>
                    <div class="lead"><i>"...an app inspired by the original has landed on the iPhone, offering a similar no-nonsense approach to keeping you focused on what’s important. "</i></div>
                    <div class="lead"><i>"The app is a little drastic, but depending on how hard a time you have focusing, or if you have a bad habit of being glued to your phone when you should be doing other things, this might help give you the push you need to break that habit."</i></div>
                    <a href="https://lifehacker.com/self-control-the-brute-force-distraction-blocker-land-1791430018" target='_blank'>
                      <img src="img/lifehacker.png" width="150px">
                    </a>
                    <div class='bottom-20'></div>
                </div>
                <div class="col-lg-3 col-lg-offset-4 col-sm-6">
                  <script src="https://fast.wistia.com/embed/medias/gbufl5b3cs.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:177.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_gbufl5b3cs popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>


                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
