<div class="content-section-a">
  <div class="container">
      <div class="row">
          <h2 class='section-heading'>More apps</h2>
          <div class='col-lg-4 col-md-12 text-center'>
            <a href="https://focus.apki.io">
              <img class='app-icon offset' src="img/focus.png">
            </a>
          </div>

          <div class='col-lg-4 col-md-12 text-center'>
            <a href="https://itunes.apple.com/us/app/simple-zazen-timer-zen-meditation/id796940852?mt=8&at=1001lxGu&ct=apki">
              <img class='app-icon app-icon-border offset' src="img/zazen.png">
            </a>
          </div>

          <div class='col-lg-4 col-md-12 text-center'>
            <a href="https://wishlist.apki.io">
              <img class='app-icon offset' src="img/wishlist.png">
            </a>
          </div>
      </div>
      <p class="copyright text-muted small">
        <a href="https://pawelurbanek.com">
          {{ site.copyright }}
        </a>
      </p>
  </div>
</div>
