<div class="content-section-a">
  <div class="container">
      <h2 class='section-heading'>More apps</h2>
      <div class="row">
          <div class='col-md-4 col-sm-12 text-center'>
            <a href="https://focus.apki.io">
              <img alt='Let me Focus' class='app-icon offset' src="img/focus.png" alt="Let me Focus icon">
            </a>
          </div>

          <div class='col-md-4 col-sm-12 text-center'>
            <a href="https://itunes.apple.com/us/app/simple-zazen-timer-zen-meditation/id796940852?mt=8&at=1001lxGu&ct=apki">
              <img alt='Simple Zazen Timer' class='app-icon app-icon-border offset' src="img/zazen.png" alt="Simple Zazen Timer icon">
            </a>
          </div>

          <div class='col-md-4 col-sm-12 text-center'>
            <a href="https://wishlist.apki.io">
              <img alt='Smart Wishlist - Best App Deals' class='app-icon offset' src="img/wishlist.png" alt="Smart Wishlist AppStore icon">
            </a>
          </div>
      </div>
      <p class="copyright text-muted small">
        <a class='link' href="https://pawelurbanek.com">
          {{ site.copyright }}
        </a>
      </p>
  </div>
</div>
