<section id="home">
<!-- Header -->
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
						<h2>{{ page.subTitle }}</h2>
						<hr class="intro-divider">
            <a href="{{ site.appstore_link }}">
              <img class='image' src="img/app_store_button.svg" width="200" alt="Download Self Control on the iOS App Store">
            </a>
            <div class='star-rating'>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star"></i>
              <i class="glyphicon glyphicon-star half"></i>
            </div>
					</div>
				</div>
			</div>
      <h2 class='section-heading'>More apps</h2>
      <div class="row">
          <div class='col-md-6 col-sm-12 text-center'>
            <a href="https://abot.app/?s=sc">
              <img alt='Abot - Anonymous Messages for Slack teams' class='app-icon offset' src="img/abot.png">
            </a>
          </div>

          <div class='col-md-6 col-sm-12 text-center'>
            <a href="https://itunes.apple.com/us/app/simple-zazen-timer-zen-meditation/id796940852?mt=8&at=1001lxGu&ct=apki" rel='nofollow'>
              <img alt='Simple Zazen Timer' class='app-icon app-icon-border offset' src="img/zazen.png" >
            </a>
          </div>
      </div>
		</div>
	</div>
</section>
