<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="apple-itunes-app" content="app-id=1189844594, affiliate-data=1001lxGu">
    <meta property="al:ios:app_store_id" content="1189844594">
    <meta property="al:ios:app_name" content="Block Distracting Websites">

    <meta name="author" content="{{ site.author }}">
    <meta name="ahrefs-site-verification" content="3e8ca2248a448b90c70345275b36876653c256927622b77a6b1c85107b8bc4e3">
    <meta name="google-site-verification" content="ujMvWE5NhbTHsBQOOrhtvA7ngcLMUyJxMmTxQ0eeLJQ" />
    <meta property="og:image" content="{{ site.url }}{{ site.preview_image }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>{{ site.title }}</title>

    <!-- All CSS combined -->
    <link href="css/styles2.css" rel="stylesheet">

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "Self Control for iOS"
  },
  "sameAs": [
    "https://itunes.apple.com/us/app/control-procrastination-block-distracting-websites/id1189844594?mt=8",
  ],
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": 4.2,
    "bestRating": 5
  },
  "author": {
  "@type": "Person",
  "name": "73 Users"
}
</script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

